In [4]:
import pandas as pd
import random
import os
import numpy as np

from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [5]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYHHONHASHSEED']=str(seed)
    np.random.seed(seed)
seed_everything(37) # seed 고정

In [6]:
train_df = pd.read_csv('C:/Users/default.DESKTOP-I1K7OTQ/Desktop/LG_Aimers/train.csv')
test_df = pd.read_csv('C:/Users/default.DESKTOP-I1K7OTQ/Desktop/LG_Aimers/test.csv')

In [7]:
train_x = train_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP', 'Y_Class','Y_Quality', 'LINE', 'PRODUCT_CODE'])
train_y = train_df['Y_Class']

test_x = test_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP','LINE', 'PRODUCT_CODE'])

In [8]:
print(train_x)

      X_1   X_2  X_3   X_4   X_5  X_6   X_7   X_8   X_9  X_10  ...  X_2866  \
0     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   39.34
1     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   38.89
2     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   39.19
3     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   37.74
4     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   38.70
..    ...   ...  ...   ...   ...  ...   ...   ...   ...   ...  ...     ...
593   2.0  95.0  0.0  45.0  10.0  0.0  50.0  10.0  52.0   2.0  ...     NaN
594   NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   49.47
595   NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...     NaN
596  40.0  94.0  0.0  45.0  11.0  0.0  45.0  10.0  31.0   2.0  ...     NaN
597  21.0  87.0  0.0  45.0  10.0  0.0  61.0  10.0  52.0   2.0  ...     NaN

     X_2867  X_2868  X_2869  X_2870  X_2871  X_2872  X_2873  X_2874  X_2875
0     40.89   32.56   34.09   77.77     NaN     NaN     NaN     NaN     NaN
1     42.82   43.92   35.34   72.55     NaN     NaN     NaN     NaN     NaN
2     36.65   42.47   36.53   78.35     NaN     NaN     NaN     NaN     NaN
3     39.17   52.17   30.58   71.78     NaN     NaN     NaN     NaN     NaN
4     41.89   46.93   33.09   76.97     NaN     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
593     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
594   53.07   50.89   55.10   66.49     1.0     NaN     NaN     NaN     NaN
595     NaN     NaN     NaN     NaN     1.0     NaN     NaN     NaN     NaN
596     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
597     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[598 rows x 2875 columns]

In [9]:
#train_x_split= train_x.dropna(axis=0, thresh = 55) #모두 결측치인값과 200개 이상 결측치인 열 제거
#test_x_split = test_x.dropna(axis=0, how = 'all', thresh = 200)

In [10]:
#print(train_x_split)

In [11]:
#print(train_x_split.shape)
#print(test_x_split.shape)

In [12]:
train_x = train_x.fillna(train_x.mean()) #결측값 0으로
test_x = test_x.fillna(test_x.mean()) #결측값 0으로

In [13]:
train_x = train_x.fillna(0) #결측값 0으로
test_x = test_x.fillna(0) #결측값 0으로

In [14]:
#nm = Normalizer()
#nm.fit(train_x)
#train_scaled = nm.transform(train_x)
#test_scaled = nm.transform(test_x)

In [15]:
#데이터 라벨 인코딩과정
#qual_col = ['LINE', 'PRODUCT_CODE']

#for i in qual_col:
    #le = LabelEncoder()
    #le = le.fit(train_x[i])
    #train_x[i] = le.transform(train_x[i])
    
    #for label in np.unique(test_x[i]):
        #if label not in le.classes_:
            #le.classes_ = np.append(le.classes_, label)
    #test_x[i] = le.transform(test_x[i])

In [16]:
print(train_x)

           X_1        X_2  X_3   X_4       X_5  X_6        X_7        X_8  \
0     2.409742  95.123209  0.0  45.0  10.39255  0.0  48.802292  10.048711
1     2.409742  95.123209  0.0  45.0  10.39255  0.0  48.802292  10.048711
2     2.409742  95.123209  0.0  45.0  10.39255  0.0  48.802292  10.048711
3     2.409742  95.123209  0.0  45.0  10.39255  0.0  48.802292  10.048711
4     2.409742  95.123209  0.0  45.0  10.39255  0.0  48.802292  10.048711
..         ...        ...  ...   ...       ...  ...        ...        ...
593   2.000000  95.000000  0.0  45.0  10.00000  0.0  50.000000  10.000000
594   2.409742  95.123209  0.0  45.0  10.39255  0.0  48.802292  10.048711
595   2.409742  95.123209  0.0  45.0  10.39255  0.0  48.802292  10.048711
596  40.000000  94.000000  0.0  45.0  11.00000  0.0  45.000000  10.000000
597  21.000000  87.000000  0.0  45.0  10.00000  0.0  61.000000  10.000000

           X_9  X_10  ...   X_2866   X_2867   X_2868   X_2869   X_2870  \
0    41.469914   2.0  ...  39.3400  40.8900  32.5600  34.0900  77.7700
1    41.469914   2.0  ...  38.8900  42.8200  43.9200  35.3400  72.5500
2    41.469914   2.0  ...  39.1900  36.6500  42.4700  36.5300  78.3500
3    41.469914   2.0  ...  37.7400  39.1700  52.1700  30.5800  71.7800
4    41.469914   2.0  ...  38.7000  41.8900  46.9300  33.0900  76.9700
..         ...   ...  ...      ...      ...      ...      ...      ...
593  52.000000   2.0  ...  50.8073  53.6077  49.6062  51.6598  66.6497
594  41.469914   2.0  ...  49.4700  53.0700  50.8900  55.1000  66.4900
595  41.469914   2.0  ...  50.8073  53.6077  49.6062  51.6598  66.6497
596  31.000000   2.0  ...  50.8073  53.6077  49.6062  51.6598  66.6497
597  52.000000   2.0  ...  50.8073  53.6077  49.6062  51.6598  66.6497

     X_2871  X_2872  X_2873  X_2874  X_2875
0       1.0     0.0     0.0     0.0     0.0
1       1.0     0.0     0.0     0.0     0.0
2       1.0     0.0     0.0     0.0     0.0
3       1.0     0.0     0.0     0.0     0.0
4       1.0     0.0     0.0     0.0     0.0
..      ...     ...     ...     ...     ...
593     1.0     0.0     0.0     0.0     0.0
594     1.0     0.0     0.0     0.0     0.0
595     1.0     0.0     0.0     0.0     0.0
596     1.0     0.0     0.0     0.0     0.0
597     1.0     0.0     0.0     0.0     0.0

[598 rows x 2875 columns]

In [17]:
print(test_x)

          X_1       X_2  X_3   X_4        X_5  X_6        X_7        X_8  \
0    2.000000  94.00000  0.0  45.0  10.000000  0.0  51.000000  10.000000
1    2.000000  93.00000  0.0  45.0  11.000000  0.0  45.000000  10.000000
2    2.000000  95.00000  0.0  45.0  11.000000  0.0  45.000000  10.000000
3    4.337449  94.44856  0.0  45.0  10.271605  0.0  48.485597  10.012346
4    4.337449  94.44856  0.0  45.0  10.271605  0.0  48.485597  10.012346
..        ...       ...  ...   ...        ...  ...        ...        ...
305  2.000000  91.00000  0.0  45.0  10.000000  0.0  51.000000  10.000000
306  2.000000  96.00000  0.0  45.0  11.000000  0.0  45.000000  10.000000
307  2.000000  91.00000  0.0  45.0  10.000000  0.0  50.000000  10.000000
308  2.000000  95.00000  0.0  45.0  10.000000  0.0  51.000000  10.000000
309  2.000000  87.00000  0.0  45.0  10.000000  0.0  51.000000  10.000000

           X_9  X_10  ...     X_2866     X_2867     X_2868     X_2869  \
0    52.000000   2.0  ...  52.066471  53.014706  49.994412  54.202353
1    31.000000   2.0  ...  52.066471  53.014706  49.994412  54.202353
2    31.000000   2.0  ...  52.066471  53.014706  49.994412  54.202353
3    42.407407   2.0  ...  52.066471  53.014706  49.994412  54.202353
4    42.407407   2.0  ...  52.066471  53.014706  49.994412  54.202353
..         ...   ...  ...        ...        ...        ...        ...
305  52.000000   2.0  ...  52.066471  53.014706  49.994412  54.202353
306  31.000000   2.0  ...  52.066471  53.014706  49.994412  54.202353
307  52.000000   2.0  ...  52.066471  53.014706  49.994412  54.202353
308  52.000000   2.0  ...  52.066471  53.014706  49.994412  54.202353
309  52.000000   2.0  ...  52.066471  53.014706  49.994412  54.202353

        X_2870    X_2871      X_2872      X_2873  X_2874      X_2875
0    63.806176  0.974359  247.988889  251.888889   243.3  228.844444
1    63.806176  0.974359  247.988889  251.888889   243.3  228.844444
2    63.806176  0.974359  247.988889  251.888889   243.3  228.844444
3    63.806176  0.974359  247.988889  251.888889   243.3  228.844444
4    63.806176  0.974359  247.988889  251.888889   243.3  228.844444
..         ...       ...         ...         ...     ...         ...
305  63.806176  0.974359  247.988889  251.888889   243.3  228.844444
306  63.806176  0.974359  247.988889  251.888889   243.3  228.844444
307  63.806176  0.974359  247.988889  251.888889   243.3  228.844444
308  63.806176  0.974359  247.988889  251.888889   243.3  228.844444
309  63.806176  0.974359  247.988889  251.888889   243.3  228.844444

[310 rows x 2875 columns]

In [18]:
RF = RandomForestClassifier(oob_score=True, random_state=37).fit(train_x, train_y)
print(RF.oob_score_)

0.7692307692307693

In [19]:
preds = RF.predict(test_x)
print(preds)

[1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 2
 0 2 0 1 1 1 1 1 1 1 1 1 0 1 1 0 0 0 0 1 1 0 1 1 1 2 2 0 0 0 1 1 1 1 0 1 1
 1 1 1 1 2 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 2 1
 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 2 2 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 1 1 2 1 2 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 1 1 1 1 1 1 2 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [20]:
submit = pd.read_csv('C:/Users/default.DESKTOP-I1K7OTQ/Desktop/LG_Aimers/sample_submission.csv')

In [21]:
submit['Y_Class']=preds

In [22]:
submit.to_csv('C:/Users/default.DESKTOP-I1K7OTQ/Desktop/LG_Aimers/baseline_submission.csv', index=False)